@import './base.css';
@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.panel-container {
  @apply border-gray-200;
}

.panel-container-sidebar {
  @apply border-b lg:border-b-0 lg:border-r lg:pr-8 pb-8 lg:pb-0;
}

.panel-container-main {
  @apply col-span-2 px-4 lg:px-8;
}

